Data Science Ecosystem

Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.   Python
2.   R
3.   SQL

Some of the commonly used libraries used by Data Scientists include:


1.   NumPy (Python)
2.   Pandas (Python)
3.   Scikit-learn (Python)
4.   Caret (R)
5.   dplyr (R)

Data Science Tools:
1. Python
2. Jupyter Notebook
3. Apache Hadoop

Below are a few examples of evaluating arithmetic expressions in Python:
1. (2+5)*4
2. 10//2
3. 10%3

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
print((3+4)*5)

In [ ]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
print(minutes//60, "hours", minutes%60, "minutes")

**Objectives:**
List popular languages for Data Science:
1. Python
2. R
3. SQL

## Authors: Phuong Thao